<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="companyMapper"> 
	<resultMap id="companyResultSet" type="company">
		<result column="COMPANY_NO" property="companyNo"/>
		<result column="COMPANY_NAME" property="companyName"/>
		<result column="COMPANY_OWNER" property="companyOwner"/>
		<result column="COMPANY_ID" property="companyId"/>
		<result column="COMPANY_PWD" property="companyPwd"/>
		<result column="COMPANY_EMAIL" property="companyEmail"/>
		<result column="COMPANY_PHOTO_EXTEND" property="companyPhotoExtend"/>
		<result column="COMPANY_BNO" property="companyBno"/>
		<result column="COMPANY_INFO" property="companyInfo"/>
		<result column="COMPANY_INSERT" property="companyInsert"/>
		<result column="COMPANY_DELETE" property="companyDelete"/>
		<result column="COMPANY_WORKER" property="companyWorker"/>
		<result column="COMPANY_SALARY" property="companySalary"/>
	</resultMap>
	<select id="companyCheck" parameterType="string" resultType="_int">SELECT COUNT(*) FROM COMPANY WHERE COMPANY_ID=#{id}</select>
	<insert id="insertCompany" parameterType="company">INSERT INTO COMPANY(COMPANY_NO, COMPANY_NAME, COMPANY_OWNER, COMPANY_ID, COMPANY_PWD, COMPANY_EMAIL, COMPANY_BNO, COMPANY_INFO, COMPANY_WORKER, COMPANY_SALARY) VALUES(SEQ_COMPANY.NEXTVAL, #{companyName}, #{companyOwner}, #{companyId}, #{companyPwd}, #{companyEmail}, #{companyBno}, #{companyInfo}, #{companyWorker}, #{companySalary})</insert>
	<select id="loginCompany" parameterType="company" resultMap="companyResultSet">SELECT * FROM COMPANY WHERE COMPANY_ID=#{companyId} AND COMPANY_DELETE IS NULL</select>
</mapper>