/.metadata/
/Servers/
.git
.bin
.factorypath
.settings
target
.classPath
.project
.springBeans
bin
keys
config
config.properties
bnoKey.js
twak.js
coddy/src/main/webapp/resources/file_upload/company/*