/.metadata/
/Servers/
.git
.bin
.factorypath
.settings
target
.classPath
.project
.springBeans
bin
keys
config
config.properties
bnoKey.js
twak.js
kakaoMap.js
coddy/src/main/webapp/resources/file_upload/company/*
coddy/src/main/webapp/resources/file_upload/company_bg/*

coddy/src/main/webapp/resources/file_upload/iboard/*
coddy/src/main/webapp/resources/file_upload/recruitment/*