<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="introMapper"> 
	<resultMap id="introResultSet" type="intro">
			<result column="IBOARD_NO" property="iboardNo"/>
			<result column="IBOARD_TITLE" property="iboardTitle"/>
			<result column="IBOARD_CONTENT" property="iboardContent"/>
			<result column="IBOARD_WRITER" property="iboardWriter"/>
			<result column="IBOARD_INSERT" property="iboardInsert"/>
			<result column="IBOARD_UPDATE" property="iboardUpdate"/>
			<result column="IBOARD_DELETE" property="iboardDelete"/>
			<result column="PROJECT_NO" property="projectNo"/>
			<result column="IBOARD_VIEWS" property="iboardViews"/>
	</resultMap>
	
		<resultMap id="introAttachmentResultSet" type="introAttachment">
			<result column="IATTACHMENT_NO" property="iAttachmentNo"/>
			<result column="IBOARD_NO" property="iboardNo"/>
			<result column="IATTACHMENT_ORIGIN" property="iAttachmentOrigin"/>
			<result column="IATTACHMENT_CHANGE" property="iAttachmentChange"/>
			<result column="IATTACHMENT_PATH" property="iAttachmentPath"/>
			<result column="IATTACHMENT_INSERT" property="iAttachmentInsert"/>
			<result column="IATTACHMENT_LEVEL" property="iAttachmentLevel"/>
	</resultMap>

	<insert id="insertBoard" parameterType="intro">
		INSERT INTO IBOARD(
			IBOARD_NO,
			IBOARD_TITLE,
			IBOARD_CONTENT,
			IBOARD_WRITER,	
			PROJECT_NO
		) VALUES (
				SEQ_IBOARD.NEXTVAL,
				#{iboardTitle},
				#{iboardContent},
				#{iboardWriter},
				#{projectNo}
		)
	</insert>
	
	<insert id="insertBoardImg" parameterType="introAttachment">
		INSERT INTO IATTACHMENT(
			IATTACHMENT_NO,
			IBOARD_NO,
			IATTACHMENT_ORIGIN,
			IATTACHMENT_PATH,
			IATTACHMENT_CHANGE,
			IATTACHMENT_LEVEL
		) VALUES (
			SEQ_IATTACHMENT.NEXTVAL,
			SEQ_IBOARD.CURRVAL,
			#{iAttachmentOrigin},
			#{iAttachmentPath},
			#{iAttachmentChange},
			#{iAttachmentLevel}
		)
		
	</insert>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM IBOARD
		 WHERE IBOARD_DELETE IS NULL
	</select>
	
	<select id="selectList" resultMap="introResultSet, introAttachmentResultSet">
	 SELECT *
		  FROM (
		    SELECT ROWNUM RNUM, A.*
		      FROM (
		               SELECT IBOARD_NO
				     , IBOARD_TITLE
				     , IBOARD_VIEWS
				     , I.IATTACHMENT_PATH || I.IATTACHMENT_CHANGE "TITLEIMG"
		             , TO_CHAR(IBOARD_INSERT, 'YYYY-MM-DD') AS "IBOARD_INSERT"
		             , M.MEMBER_ID
		  FROM IBOARD B
		  JOIN IATTACHMENT I USING (IBOARD_NO)
          JOIN MEMBER M ON (MEMBER_NO = IBOARD_WRITER)
         WHERE IBOARD_DELETE IS NULL
		   AND IATTACHMENT_LEVEL = #{iAttachmentLevel}
           AND IBOARD_NO = #{iboardNo}
		 ORDER BY B.IBOARD_INSERT DESC
		            ) A
		        )
	</select>
</mapper>
	