<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="fboardMapper">
	<!-- FBOARD resultMap -->
	<resultMap id="fboardResultSet" type="fboard">
	    <result column="FBOARD_NO" property="fboardNo"/>
	    <result column="FBOARD_TITLE" property="fboardTitle"/>
	    <result column="FBOARD_CONTENT" property="fboardContent"/>
	    <result column="FBOARD_WRITER" property="fboardWriter"/>
	    <result column="FBOARD_INSERT" property="fboardInsert"/>
	    <result column="FBOARD_UPDATE" property="fboardUpdate"/>
	    <result column="FBOARD_DELETE" property="fboardDelete"/>
	    <result column="FBOARD_VIEWS" property="fboardViews"/>
	</resultMap>
	
	<!-- FREPLY resultMap -->
	<resultMap id="freplyResultSet" type="freply">
	    <result column="REPLY_NO" property="freplyNo"/>
	    <result column="MEMBER_NO" property="memberNo"/>
	    <result column="FBOARD_NO" property="fboardNo"/>
	    <result column="FREPLY_PARENT" property="freplyParent"/>
	    <result column="FREPLY_CONTENT" property="freplyContent"/>
	    <result column="FREPLY_INSERT" property="freplyInsert"/>
	    <result column="FREPLY_UPDATE" property="freplyUpdate"/>
	    <result column="FREPLY_DELETE" property="freplyDelete"/>
	</resultMap>
	
	<!-- FATTACHMENT resultMap -->
	<resultMap id="fattachmentResultMap" type="fattachment">
	    <result column="FATTACHMENT_NO" property="fattachmentNo"/>
	    <result column="FBOARD_NO" property="fboardNo"/>
	    <result column="FATTACHMENT_ORIGIN" property="fattachmentOrigin"/>
	    <result column="FATTACHMENT_CHANGE" property="fattachmentChange"/>
	    <result column="FATTACHMENT_PATH" property="fattachmentPath"/>
	    <result column="FATTACHMENT_INSERT" property="fattachmentInsert"/>
	    <result column="FATTACHMENT_LEVEL" property="fattachmentLevel"/>
	</resultMap>
	
	<!-- FBOARD insert -->
	<insert id="insertBoard" parameterType="fboard">
	    INSERT INTO FBOARD (FBOARD_NO, FBOARD_TITLE, FBOARD_CONTENT, FBOARD_WRITER, FBOARD_INSERT)
	    VALUES (SEQ_FBOARD.NEXTVAL, #{fboardTitle}, #{fboardContent}, #{fboardWriter}, SYSDATE)
	</insert>
	
	<!-- FBOARD update -->
	<update id="updateBoard" parameterType="fboard">
	    UPDATE FBOARD
	    SET FBOARD_TITLE = #{fboardTitle},
	        FBOARD_CONTENT = #{fboardContent},
	        FBOARD_WRITER = #{fboardWriter},
	        FBOARD_UPDATE = SYSDATE,
	        FBOARD_INSERT = #{fboardInsert},
	        FBOARD_DELETE = #{fboardDelete},
	        FBOARD_VIEWS = #{fboardViews}
	    WHERE FBOARD_NO = #{fboardNo} AND FBOARD_DELETE IS NULL
	</update>
	
	<!-- FBOARD selectList -->
	<select id="selectList" resultMap="fboardResultSet">
		SELECT FBOARD_NO
		     , FBOARD_TITLE
		     , FBOARD_WRITER
		     , FBOARD_VIEWS
		     , TO_CHAR(FBOARD_INSERT, 'YYYY-MM-DD') AS "FBOARD_INSERT"
		  FROM FBOARD
		 ORDER BY FBOARD_NO DESC
	</select>
	
	<!-- FBOARD selectListCount -->	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM FBOARD WHERE FBOARD_DELETE IS NULL
	</select>   
	
	<update id="increaseCount" parameterType="_int">
		UPDATE FBOARD
		   SET FBOARD_VIEWS = FBOARD_VIEWS + 1
		 WHERE FBOARD_NO = #{fboardNo} AND FBOARD_DELETE IS NULL
	</update>   
	
	<!-- FBOARD delete -->
	<update id="deleteBoard" parameterType="_int">
	    UPDATE FBOARD SET FBOARD_DELETE = SYSDATE WHERE FBOARD_NO = #{fboardNo} AND FBOARD_DELETE IS NULL
	</update>
	
	<!-- FBOARD select -->
	<select id="selectFboard" parameterType="_int" resultMap="fboardResultSet">
	    SELECT F.FBOARD_NO AS "FBOARD_NO", F.FBOARD_TITLE AS "FBOARD_TITLE", F.FBOARD_CONTENT AS "FBOARD_CONTENT",
	    	M.MEMBER_NAME AS "FBOARD_WRITER", F.FBOARD_INSERT AS "FBOARD_INSERT", F.FBOARD_UPDATE AS "FBOARD_UPDATE",
	    	F.FBOARD_VIEWS AS "FBOARD_VIEWS"
	    	FROM FBOARD F, MEMBER M 
	    	WHERE F.FBOARD_WRITER=M.MEMBER_NO AND F.FBOARD_NO = #{fboardNo} AND F.FBOARD_DELETE IS NULL
	</select>

	<select id="selectBoard" parameterType="_int" resultMap="fboardResultSet">
		SELECT FBOARD_NO
		     , FBOARD_TITLE
		     , FBOARD_CONTENT
		     , FBOARD_WRITER
		     , TO_CHAR(FBOARD_INSERT, 'YYYY-MM-DD') AS "FBOARD_INSERT"
		  FROM FBOARD
		 WHERE FBOARD_NO = #{fboardNo}
	</select>    
	
	<!-- FREPLY insert -->
	<insert id="insertFreply" parameterType="freply">
	    INSERT INTO FREPLY (REPLY_NO, MEMBER_NO, FBOARD_NO, FREPLY_PARENT, FREPLY_CONTENT, FREPLY_INSERT, FREPLY_UPDATE, FREPLY_DELETE)
	    VALUES (SEQ_FREPLY.NEXTVAL, #{memberNo}, #{fboardNo}, #{freplyParent}, #{freplyContent}, #{freplyInsert}, #{freplyUpdate}, #{freplyDelete})
	</insert>
	
	<!-- FREPLY update -->
	<update id="updateFreply" parameterType="freply">
	    UPDATE FREPLY
	    SET MEMBER_NO = #{memberNo},
	        FBOARD_NO = #{fboardNo},
	        FREPLY_PARENT = #{freplyParent},
	        FREPLY_CONTENT = #{freplyContent},
	        FREPLY_UPDATE = SYSDATE,
	        FREPLY_INSERT = #{freplyInsert},
	        FREPLY_DELETE = #{freplyDelete}
	    WHERE FREPLY_NO = #{freplyNo}
	</update>
	
	<!-- FREPLY delete -->
	<update id="deleteFreply" parameterType="int">
	    UPDATE FREPLY SET FREPLY_DELETE = SYSDATE WHERE REPLY_NO = #{freplyNo} AND FREPLY_DELETE IS NULL
	</update>
	
	<!-- FREPLY select -->
	<select id="selectFreply" parameterType="int" resultMap="freplyResultSet">
    	SELECT * FROM FREPLY WHERE REPLY_NO = #{freplyNo} AND FREPLY_DELETE IS NULL
	</select>
	
	<!-- FATTACHMENT selectList -->
	<select id="selectAttachmentList" parameterType="int" resultMap="fattachmentResultMap">
	    SELECT * FROM FATTACHMENT WHERE FBOARD_NO = #{fboardNo} AND FATTACHMENT_LEVEL = 0
	</select>
	
	<!-- FATTACHMENT selectOne -->
	<select id="selectOneAttachment" parameterType="int" resultMap="fattachmentResultMap">
	    SELECT * FROM FATTACHMENT WHERE FATTACHMENT_NO = #{fattachmentNo}
	</select>
	
	<!-- FATTACHMENT insert -->
	<insert id="insertAttachment" parameterType="fattachment">
	    INSERT INTO FATTACHMENT(FATTACHMENT_NO, FBOARD_NO, FATTACHMENT_ORIGIN, FATTACHMENT_CHANGE, FATTACHMENT_PATH, FATTACHMENT_INSERT, FATTACHMENT_LEVEL)
	    VALUES(SEQ_FATTACHMENT.NEXTVAL, #{fboardNo}, #{fattachmentOrigin}, #{fattachmentChange}, #{fattachmentPath}, #{fattachmentInsert}, #{fattachmentLevel})
	</insert>
	
	<!-- FATTACHMENT update -->
	<update id="updateAttachment" parameterType="fattachment">
	    UPDATE FATTACHMENT
	    SET FBOARD_NO = #{fboardNo},
	        FATTACHMENT_ORIGIN = #{fattachmentOrigin},
	        FATTACHMENT_CHANGE = #{fattachmentChange},
	        FATTACHMENT_PATH = #{fattachmentPath},
	        FATTACHMENT_INSERT = #{fattachmentInsert}, 
	        FATTACHMENT_LEVEL = #{fattachmentLevel}
	    WHERE FATTACHMENT_NO = #{fattachmentNo}
	</update>
	
	<!-- FATTACHMENT delete -->
	<delete id="deleteAttachment" parameterType="int">
	    DELETE FROM FATTACHMENT WHERE FATTACHMENT_NO = #{fattachmentNo}
	</delete>
		
</mapper>